html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #000000;
}

#pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

#pageTopContainer {
  display: flex;
  flex-direction: column;
  height: 66%;
  align-items: center;
  justify-content: center;
}

#pageBottomContainer {
  display: flex;
  flex-direction: column;
  height: 33%;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding-block-end: 2em;
}

#cardContainer {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

#emojiContainer {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.emoji {
  cursor: default;
}

.emoji:active {
  transform: translateY(-4px);
}

#nextButton {
  color: white;
}

.german {
  color: greenyellow;
}

.english {
  color: lightblue;
}

a {
  color: palevioletred;
  text-decoration: none;
}